[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
coverage = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-cli = "*"
pyjwt = "*"
azure-storage-blob = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
gunicorn = "*"
psycopg2 = "*"
pyodbc = "*"
pymssql = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
